<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Transaction Type</string>
	<string>Quantity</string>
	<string>Price USD</string>
	<string>Trade date(Y-M-D)</string>
	<string>Total (USD)</string>
</array>
</plist>
